.productId {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

.productId_path {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.productId_point {
    color: var(--color-red);
    font-size: 8px;
}

.productId_nameProduct {
    color: #515151;
}